/* Header */

.app {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
}

nav {
  width: 200px;
  min-height: 100vh;
  z-index: 2;
  background-color: var(--bg-color);
  overflow: hidden;
  transition: 0.5s;
}
nav menu li {
  width: 200px;
}
nav a {
  padding: 14px 6px;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  transition: 0.3s;
  color: black;
}
nav a:hover {
  color: #ff731d;
}
.subnav {
  display: none;
}
li a:hover .subnav {
  display: block;
  min-width: 160px;
}
.layer {
  display: none;
}
#navbar-input {
  display: none;
}
#logo {
  height: 100px;
}
#logo img {
  object-fit: cover;
  width: 50%;
}
.navbar-item {
  padding: 8px 0;
}
.app__logout {
  padding: 32px 0;
}
.header__navbar {
  width: 80%;
}
.header__navbar > img {
  height: 28px;
  width: 28px;
  /* display: none; */
  margin-left: 8px;
}
.header__navbar-search {
  position: relative;
  height: 40px;
  width: 550px;
  margin: 20px 20px;
}
.header__search-input {
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: white;
  padding: 4px 16px;
  border: 1px solid #ccc;
  /* border-radius: 2px; */
}
.header__search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.header__search-btn:hover {
  background-color: var(--bg-color);
  cursor: pointer;
}
.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}
.header__navbar-admin {
  padding-right: 8px;
  align-items: center;
}
.header__navbar-admin span {
  padding: 24px;
}

/* Content */
.content .button {
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: linear-gradient(top, #fff, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.content .button:hover {
  border-color: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.content .button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
/* User */
.content {
  flex: 1;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  width: 100%;
  justify-content: space-around;
}
.product h1 {
  margin: 16px 0;
  font-size: 1.6rem;
}
.product > div {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  padding: 10px;
}

.content td {
  border: 2px solid var(--title-color);
  height: var(--tr-height);
}
.user {
  width: 100%;
}

td div {
  height: var(--tr-height);
  overflow-y: scroll;
}
tr {
  border-bottom: 2px solid var(--title-color);
  height: var(--tr-height);
}
tr,
td {
  text-align: center;
  padding: 5px;
}
tr.active,
td.active {
  border-color: var(--submit-color);
}
td img {
  height: var(--tr-height);
}
input::placeholder {
  font-size: 1rem;
}
input[type="file"]::file-selector-button {
  margin: 4px;
  height: 30px;
  width: 150px;
}
.btn {
  width: 100px;
  height: 50%;
  margin: 0 10px;
  border-radius: 10px;
  color: #fff;
}
button[type="delete"] {
  background-color: red;
}
button[type="update"] {
  background-color: rgb(28, 223, 28);
}
button[type="save"] {
  background-color: aquamarine;
}
button:hover {
  background-color: rgb(229, 226, 226);
  cursor: pointer;
  color: #000000;
}

.product table thead tr th:nth-child(1) {
  width: 7%;
}
.product table thead tr th:nth-child(2) {
  width: 7%;
}
.product table thead tr th:nth-child(3) {
  width: 7%;
}
.product table thead tr th:nth-child(4) {
  width: 7%;
}
.product table thead tr th:nth-child(5) {
  width: 7%;
}
/* .description */
.product table tbody tr td:nth-child(6) {
  text-align: left;
}

.user table thead tr th:nth-child(6) {
  width: 15%;
}
.user table tbody tr td:nth-child(7) {
  border-right: none;
}
.content input[name="menu"] {
  display: none;
}
.content input:not(:checked) + section {
  display: none;
}

/* Modal */
input[type="checkbox"] {
  display: none;
}
#add-product {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 30;
}
#add-product form {
  padding: 16px;
  border-radius: 10px;
  background: var(--bg-color);
}
#add-product input {
  border-bottom: 1px solid var(--title-color);
  background: transparent;
  height: 100%;
  padding: 0 5px;
}
#add-product select {
  border-bottom: 1px solid var(--title-color);
  background: transparent;
}
#add-product button {
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--submit-color);
  align-items: center;
  margin: 16px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
}
#add-product button:hover {
  background: #ccc;
  color: #000000;
}
#add-product > label {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
}

#adding-product:checked ~ #add-product {
  display: none;
}

#add-user {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 30;
}
.container {
  padding: 16px;
  border-radius: 10px;
  background: var(--bg-color);
}
#add-user input {
  border-bottom: 1px solid var(--title-color);
  background: transparent;
  height: 100%;
  padding: 0 5px;
}
#add-user button {
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--submit-color);
  align-items: center;
  margin: 16px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
}
#add-user button:hover {
  background: #ccc;
  color: #000000;
}
#add-user > label {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
}
.add-modal {
  z-index: 30;
}
#adding-user:checked ~ #add-user {
  display: none;
}
section div {
  width: 100%;
}
