@media (max-width: 46.1875em) {
  .container {
    width: 100%;
  }
  .img {
    display: none;
  }
  h1 span {
    font-size: 1.625rem;
  }
  .description {
    font-size: 0.9375rem;
  }
  #float:checked ~ .container.register {
    display: none;
  }
  #float:not(:checked) ~ .container.login {
    display: none;
  }
}
