@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
  #form .img {
    display: none;
  }
  h1 span {
    font-size: 1.625rem;
  }
  .description {
    font-size: 0.9375rem;
  }
  #Float:not(:checked) ~ #form .register {
    display: none;
  }
  #Float:checked ~ #form .login {
    display: none;
  }
}
